.portCardCl {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.portBodyCl {
    display: flex;
    /* flex: 1 0 auto; */
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
/*  How do i make the icon buttons be displayed at the bottom
of the card, regardless of content length? */
.portButCl {
    display: flex;
    justify-content: flex-start;
    /* position: absolute;
    bottom: 0%; */
}
